<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.abren" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".RiderRequestsActivity"
            android:label="@string/title_activity_rider_requests" >
        </activity>
        <activity
            android:name=".Requests"
            android:label="@string/title_activity_requests"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RiderRequests"
            android:label="@string/title_activity_rider_requests" />
        <activity
            android:name=".MainActivity2"
            android:label="@string/title_activity_main2" />
        <activity
            android:name=".RiderRequestsFrgament"
            android:label="@string/title_activity_rider_requests" />
        <activity
            android:name=".RiderRoutesHome"
            android:label="@string/title_activity_rider_routes_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>